html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #12BDAC;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9{
    height: 150px;
    width: 150px;
    border: 6px solid;
    border-color: white;
    color: white;
    font-size: 120px;
    text-align: center;
}

.firstColumn, .secondColumn, .thirdColumn{
    display: flex;
    flex-direction: column;
}

.grid1 {
    border-top: none;
    border-left: none;
}

.grid4 {
    border-top: none;
}

.grid7 {
    border-top: none;
    border-right: none;
}

.grid2 {
    border-left: none;
}

.grid3 {
    border-left: none;
    border-bottom: none;
}

.grid6 {
    border-bottom: none;
}

.grid9 {
    border-bottom: none;
    border-right: none;
}

.grid8 {
    border-right: none;
}